<nav class="navbar navbar-dark bg-dark" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
      <mat-form-field *ngFor="let item of dropDown" class="mr-3">
        <mat-label>
          {{ item.mainTitle }}
        </mat-label>
        <mat-select>
          <mat-option [routerLink]="item.mainUrl" routerLinkActive="item.links">
            {{ item.mainTitle }}
          </mat-option>
          <mat-option
            *ngFor="let link of item.links"
            [value]="item.mainTitle"
            [routerLink]="link.url"
            routerLinkActive="item.links"
          >
            {{ link.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <li>
        <button class="btn btn-dark btn-block mt-1" routerLink="/admin">
          home
        </button>
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <button class="btn btn-primary btn-block mt-1" (click)="onLogout()">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
