<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Email</label>
      <input
        required
        isEmail
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && !!f.email?.errors" class="invalid-feedback">
        <div *ngIf="!!f.email?.errors.required">Email is required</div>
        <div *ngIf="!!f.email?.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
      />
      <div *ngIf="submitted && !!f.fullName?.errors" class="invalid-feedback">
        <div *ngIf="!!f.fullName?.errors.required">Full Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Write new password</label>
      <input
        type="password"
        placeholder="write new password"
        formControlName="newpassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
        <div *ngIf="!!f.password.errors.required">Password is required</div>
        <div *ngIf="!!f.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <button [disabled]="loading" class="btn btn-success">Update</button>
  </form>
</div>
