<h1 class="text-center mt-3">views of all books</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="search-hero ">
      <input
        type="text"
        class="form-control"
        name="search"
        (input)="onSearchBook($event)"
      />
    </div>
  </div>
</div>
<table class="table-fill table mt-4">
  <thead class="thead-dark">
    <tr>
      <th>book title</th>
      <th>book img</th>
      <th>author name</th>
      <th>magazine img</th>
      <th>delete book</th>
      <th>edit book</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td>{{ book.title }}</td>
      <td>
        <img style="width: 80px; height:80px;" src="{{ book.img }}" />
      </td>
      <td *ngIf="!book.authorId[0]">no author</td>
      <td *ngIf="book.authorId[0]">{{ book.authorId[0].fullName }}</td>
      <td *ngIf="book.magazine[0]">
        <img
          style="width:80px; height:80px;"
          src="{{ book.magazine[0].img }}"
        />
      </td>
      <td *ngIf="!book.magazine[0]">
        <img
          style="width: 80px; height: 80px;"
          src="../../../../assets/img/not-found.png"
        />
      </td>
      <td>
        <button (click)="deleteBook(book._id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <button routerLink="/admin/books/editbook/{{ book._id }}">
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator
  [length]="totalBooks"
  [pageSize]="booksPerPage"
  [pageSizeOptions]="pageSizeOption"
  (page)="onChangedPage($event)"
></mat-paginator>
