<div class="col-6">
  <h2 class="text-center">Edit Magazine</h2>
  <form [formGroup]="editMagazineForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Magazine title</label>
      <input class="form-control" formControlName="title" />
    </div>
    <div>
      <h3>Selected multiple authors</h3>
      <ng-select
        formControlName="authorId"
        [items]="authors"
        bindLabel="fullName"
        bindValue="_id"
        [multiple]="true"
        placeholder="No authors selected"
        (change)="onAuthorSelected($event)"
      >
      </ng-select>
    </div>
    <div class="form-group">
      <label class="image-upload-container btn btn-bwm">
        <img
          formControlName="img"
          [src]="this.selectedFile"
          [alt]="editMagazineForm.value.title"
        />
        <span>Select Image</span>
        <input type="file" (change)="onFileSelected($event)" />
      </label>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary ">
        Edit Magazine
      </button>
    </div>
  </form>
</div>
