<div class="col-6">
  <h2 class="text-center">Add Author</h2>
  <form [formGroup]="addAuthorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
      />
      <div *ngIf="submitted && !!f.fullName.errors" class="invalid-feedback">
        <div *ngIf="!!f.fullName.errors.required">Full Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Add User</button>
    </div>
  </form>
</div>
