<div class="col-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
      />
      <div *ngIf="submitted && !!f.fullName.errors" class="invalid-feedback">
        <div *ngIf="!!f.fullName.errors.required">Full Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="email">Email</label>
      <input
        required
        emailvalidator
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      />
      <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
        <div *ngIf="!!f.email.errors.required">Email is required</div>
        <div *ngIf="!!f.email.errors.emailvalidator">
          Email must be a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      />
      <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
        <div *ngIf="!!f.password.errors.required">Password is required</div>
        <div *ngIf="!!f.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="mr-2">Choose userRole</label>
      <select formControlName="userRole">
        <option value="0">guest</option>
        <option value="1">admin</option>
        <option value="2">user</option>
      </select>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Add User</button>
    </div>
  </form>
</div>
