<h1 class="text-center mt-3">views of all users</h1>
<table class="table-fill mt-4">
  <tbody>
    <tr>
      <td colspan="2" class="text-center p-3">Add new User</td>
      <td colspan="4" class="text-center p-0">
        <button class="p-1 h-75 w-75" routerLink="/admin/users/adduser">
          <i class="fa fa-user-plus h-100 d-inline-block"></i>
        </button>
      </td>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user?.fullName }}</td>
      <td>{{ user?.email }}</td>
      <td>
        <button
          value="{{ user.confirm }}"
          (click)="confirm(confirm, user._id, i)"
        >
          {{ user?.confirm }}
        </button>
      </td>
      <td>
        <button (click)="deleteUser(user._id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <button routerLink="/admin/users/edituser/{{ user._id }}">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td>
        <select
          value="{{ user.userRole }}"
          (change)="changeRoleUser($event, user._id, i)"
        >
          <option value="0">guest</option>
          <option value="1">admin</option>
          <option value="2">user</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
