<h1 class="text-center mt-3">views of all authors</h1>
<div class="container">
  <div class="row justify-content-center"></div>
</div>
<table class="table-fill table mt-4">
  <thead class="thead-dark">
    <tr>
      <th>author name</th>
      <th>delete author</th>
      <th>edit author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors; let i = index">
      <td>{{ author.fullName }}</td>
      <td>
        <button (click)="deleteAuthor(author._id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <button routerLink="/admin/authors/editauthor/{{ author._id }}">
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
