<div class="col-6">
  <h2 class="text-center">Edit Magazine</h2>
  <form [formGroup]="editAuthorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Author FullName</label>
      <input class="form-control" formControlName="fullName" />
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary ">
        Edit Magazine
      </button>
    </div>
  </form>
</div>
