<div class="jumbotron  mb-0 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Hello! now you on guest page</h1>
        <h3 class="text-center">
          Wait for confirmation from the administration
        </h3>
        <div *ngIf="authService.isLoggedIn()">
          <h3 class="mt-1 text-center" (click)="onLogout()">
            <a class="text-light bg-dark rounded p-2" href="#">Logout</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
