<table class="table-fill">
  <thead>
    <tr>
      <th colspan="2" class="text-center">Admin Profile</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of user">
      <td>First Name</td>
      <td>{{ user.fullName }}</td>
    </tr>
    <tr *ngFor="let user of user">
      <td>Last Name</td>
      <td>{{ user.fullName.split(' ')[1] }}</td>
    </tr>
    <tr *ngFor="let user of user">
      <td>Email</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
