<div class="jumbotron bg-danger mb-0 p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="text-white">
          Sorry <br />
          <br />
          404 - The page cannot be found
        </h3>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron p-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>
          We cannot find the page you are looking for. It might have been
          removed, had its name changed, or is temporarily unavailable. Please
          check that the Web site address is spelled correctly. Or go to our a
          <a
            class="text-uppercase text-danger font-weight-bold"
            [routerLink]="['/']"
          >
            home page </a
          >, and use the menus to navigate to a specific section.
        </p>
      </div>
    </div>
  </div>
</div>
