<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="m-3">
          <img src="assets/img/user.png" id="icon" alt="User Icon" />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label class="form-control-label" for="email">Email</label>
            <input
              required
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted || f.email.errors }"
            />
            <div *ngIf="submitted || !!f.email.errors" class="invalid-feedback">
              <div *ngIf="!!f.email.errors.required">Email is required</div>
              <div *ngIf="!!f.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div
              *ngIf="submitted && !!f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="!!f.password.errors.required">
                Password is required
              </div>
              <div *ngIf="!!f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="!!loading" class="btn btn-primary">
              login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
