<h1 class="text-center mt-3">views of all magazines</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="search-hero ">
      <input
        type="text"
        class="form-control"
        name="search"
        (input)="onSearchMagazine($event)"
      />
    </div>
  </div>
</div>
<table class="table-fill table mt-4">
  <thead class="thead-dark">
    <tr>
      <th>magazine title</th>
      <th>magazine img</th>
      <th>author name</th>
      <th>delete book</th>
      <th>edit book</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let magazine of magazines; let i = index">
      <td>{{ magazine.title }}</td>
      <td>
        <img
          style="width: 50px; height: 50px;"
          src="{{ magazine.img }}"
          alt=""
        />
      </td>
      <td *ngIf="!magazine.authorId[0]">no author</td>
      <td *ngIf="magazine.authorId[0]">{{ magazine.authorId[0].fullName }}</td>
      <td>
        <button (click)="deleteMagazine(magazine._id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
      <td>
        <button routerLink="/admin/magazines/editmagazine/{{ magazine._id }}">
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator
  [length]="totalMagazines"
  [pageSize]="magazinesPerPage"
  [pageSizeOptions]="pageSizeOption"
  (page)="onChangedPage($event)"
></mat-paginator>
