<div class="col-6">
  <h2 class="text-center">Add Magazine</h2>
  <form [formGroup]="addMagazineForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>title</label>
      <input
        type="text"
        formControlName="title"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.title.errors }"
      />
      <div *ngIf="submitted && !!f.title.errors" class="invalid-feedback">
        <div *ngIf="!!f.title.errors.required">Full Name is required</div>
      </div>
    </div>
    <div>
      <h3>Selected multiple authors</h3>
      <ng-select
        [items]="authors"
        bindLabel="fullName"
        bindValue="_id"
        [multiple]="true"
        placeholder="No authors selected"
        (change)="onAuthorSelected($event)"
      >
      </ng-select>
    </div>
    <div class="form-group">
      <label class="image-upload-container btn btn-bwm">
        <img
          *ngIf="this.selectedFile !== null"
          [src]="this.selectedFile"
          [alt]="addMagazineForm.value.title"
        />
        <span>Select Image</span>
        <input
          type="file"
          (change)="onFileSelected($event)"
          formControlName="img"
        />
      </label>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Add Magazine</button>
    </div>
  </form>
</div>
